html {
  position: relative;
}
.container h2 {
  text-shadow: 1px 1ppx 5px rgba(0, 0, 0, 0.5);
}

/* jumbotron */
.jumbotron {
  background-image: url(image/bg2.jpg);
  background-size: cover;
  height: 450px;
}

.jumbotron img {
  width: 200px;
  border: 5px solid black;
}

.jumbotron h1 {
  font-family: "Pacifico", "cursive";
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.jumbotron p {
  color: white;
  font-family: "Roboto Condensed";
}
.jumbotron ul li {
  display: inline-block;
}
.jumbotron .sosialmedia img {
  width: 50px;
  border: none;
  padding-right: 20px;
}

/* about */

h2 {
  font-family: "Roboto Condensed";
  font-size: 25px;
}

.about p {
  font-family: "Roboto Condensed";
  font-size: 20px;
}

.about .container {
  margin-top: -30px;
}

/* hobi */

.hobi {
  background-color: #0f514b;
  margin-top: -10px;
}

.hobi h2 {
  color: white;
}

.card {
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  padding: 5px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

.card p {
  font-family: "Roboto Condensed";
  font-size: 15px;
  padding: 5px;
  box-sizing: border-box;
}

h5 {
  font-family: "Roboto Condensed";
  font-size: 20px;
}

/* portfolio*/
.portfolio {
  min-height: 650px;
  margin-top: 30px;
}

/* contact */
.contact {
  margin-top: -10px;
  min-height: 700px;
}

.contact .container .row input {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.contact .container textarea {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.contact button {
  margin-top: 20px;
}

/* footer */
footer {
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #0f514b;
}

footer p,
a {
  text-decoration: none;
  color: white;
  font-family: "Akaya Telivigala", cursive;
  font-size: 17px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
