html {
  position: relative;
}

/* jumbotron */
.jumbotron {
  background-image: url(image/bg.jpg);
  background-size: cover;
}

.jumbotron img {
  width: 200px;
  border: 5px solid black;
}

.jumbotron h1 {
  font-family: "Pacifico", "cursive";
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.jumbotron p {
  color: white;
  font-family: "Indie Flower";
}

/* about */
hr {
  width: 150px;
  border: 2px solid #c3c3c3;
  margin-top: -7px;
}

.about p,
h2 {
  font-family: "Indie Flower";
  font-size: 20px;
}

.about .container {
  margin-top: -30px;
}

.about svg {
  margin-bottom: -20px;
}
/* contact */
.contact {
  margin-top: -10px;
  min-height: 800px;
}

.contact .container .row input {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.contact .container textarea {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.contact button {
  margin-top: 20px;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(94, 87, 87, 0.667);
}

footer p,
a {
  text-decoration: none;
  color: white;
  font-family: "Akaya Telivigala", cursive;
  line-height: 50px;
  font-size: 17px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
